/* 
цвет земли: #A2653E
цвет листьев: #388F02
цвет пестков незрелой кукурузы: #FFF8DC
 */

/* fonts Inter & Neucha (for lables etc) */
.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: 44;
    font-weight: 700;
    font-style: italic;
}
.neucha-regular {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
}

#page-container {
    width: 100%;
}

@media (max-width: 967px) {
    #page-container {
        transform: scale(0.33);
        transform-origin: 0 0;
    }
}

body{
    margin: 0;
    background-color: #FFF8DC;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 121px;
    padding: 0 20px;
    background-color: #A2653E;
}

/* header & navbar */
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    max-width: 98px;
    margin-right: 1%;
    cursor: pointer;
}
.site-title {
    font-size: 35px;
    font-weight: bold;
    font-family: "Neucha";
    color: #FFF8DC;
    cursor: pointer;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 6%;
}
.header-nav a {
    max-height: 25px;
    margin-left: 2%;
    font-size: 22px;
    font-family: "Inter";
    font-weight: 600;
    color: #FFF8DC;
    text-decoration: none;
    transition: color 0.3s ease;
    border-radius: 15px;
    padding: 15px;
}
.header-nav a:hover{
    color: #388F02;
    background-color: #FFF8DC;
}
i.invisible{
    color:#ffffff00;
}

/* greetengs */
div.greetengs{
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: calc(529px + 20vh);
    max-height: 729px;
}
p.greetengs{
    font-size: 100px;
    font-family: "Neucha";
    margin: 0;
    max-width: 737px;
    max-height: 288px;
    line-height: 98px;
}
img.greetengs{
    width: 494px;
    height: 508px;
}
div.greetengs-container{
    display: flex;
    align-items: flex-end;
}
i.greetengs{
    color: #388F02;
    font-style: normal;
}

/* categories */
div.categories{
    align-items: center;
    background-color: #A2653E;
}
div.categories-label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
#categories-content{
    overflow: hidden;
    transition: height 1.5s ease;
    height: 100px;
}
#categories-content.open{
    height: 1350px;
}
p.categories{
    font-family: "Inter";
    color: #FFF8DC;
    font-size: 44px;
    font-weight: 600;
    margin-left: 45px;
    height: 49px;
    margin: 0;
    margin-left: 49px;
    margin-right: 30px;
}
.open-button{
    width: 80px;
    height: 45px;
    border-radius: 17px;
    background-color: #FFF8DC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-button-img{
    height: 31px;
    width: 31px;
    border-radius: 30px;
    transition: transform 0.4s ease;
}
div.cards-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2%;
    margin: 0;
    margin-bottom: 26px;
}

/* killer fitches */

div.killer-fitch-label{
    display: block;
    text-align: center;
}
h4.killer-fitch-label{
    font-family: "Neucha";
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    /* also i.greetengs need */
}

/* yandex map */
.map-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* adds */
.adds-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #388F02;
    height: 181px;
    width: 96%;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
}
p.adds-card{
    background-color: #ffffff00;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 5px;
    font-family: "Inter";
    font-weight: 600;
    color:#FFF8DC;
    font-size: 250%;
    max-width: 45%;
}

/* email-fill */
div.email-fill{
    display: flex;
    justify-content: left;
    margin-right: 44px;
    width: 40%;
}
p.email-fill{
    margin:0;
    margin-right: 14px;
}
input[type="email"].email-fill {
    background-color: #FFF8DC;
    color: #544f38;
    font-family: "Inter";
    border-radius: 20px 2px 2px 20px;
    border: 1px solid #FFF8DC;
    height: 101px;
    width: 30vw;
    font-family: "Inter";
    font-size: 35px;
    color:#848175;
    padding-left: 30px;
}
input[type="email"]::placeholder{
    font-family: "Inter";
    font-size: 35px;
    color:#848175;
}
div.button{
    background-color: #FFF8DC;
    border: 1px solid #FFF8DC;
    height: 101px;
    border-radius: 2px 20px 20px 2px;
    width: 115px;
    margin-right: 30px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
div.button:hover{
    transform: translateX(10px);
}
svg.button{
    margin-top: 23px;
    margin-left: 28px;
    margin-right: 25px;
    margin-bottom: 23px;
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 249px;
    background-color: #A2653E;
}
div.social-media{
    display: block;
    margin-left: 5.5%;
    margin-bottom: 2%;
    width: 40%;
}
p.social-media{
    text-align: center;
    font-family: "Inter";
    font-weight: 600;
    font-size: 30px;
    color:#FFF8DC;
    width: 90%;
}
div.logos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
div.contacts{
    display: block;
}
p.contacts{
    font-family: "Inter";
    font-weight: 600;
    font-size: 30px;
    color:#FFF8DC;
}
i.contacts{
    font-weight: 400;
    font-style: normal;
}
div.for-the-last-one-logo-finally{
    margin-right:2%;
    width: 7%;
    height: 98px;
}

/* cards (of categories & killer-fitches)*/

/* one card */
div.card{
    background-color: #FFF8DC;
    border-radius: 50px;
    width: 30%;
    min-height: 588px;
    margin-top: 0;
    margin-left: 0;
    display: block;
    align-items: center;
    transition: transform 0.25s ease;
}
div.card:hover{
    transform: translateY(-10px);
}
.category-img{
    width: 95%;
    height: 375px;
    border-radius: 45px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    object-fit: cover;
}
.img-contanier{
    overflow: hidden;
}
.category-label{
    font-family: "Inter";
    color: black;
    font-size: 35px;
    width: 90%;
    height: 86px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.category-content{
    font-family: "Inter";
    color: #388F02;
    font-size: 30px;
    width: 90%;
    height: 74px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

/* for each fich */
div.uno-fitch{
    background-color: #388F02;
    border-radius: 50px;
    width: 30%;
    height: 582px;
    margin: 26px;
    margin-top: 0;
    margin-left: 0;
}
/* also cards-container class has been used */
img.fich-img{
    max-width: 224px;
    max-height: 259px;
    margin-top: 36px;
}
div.centered-img{
    display: flex;
    justify-content: center;
    height: 259px;
}
div.text-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87%;
    height: 120px;
    margin-top: 15px;
    margin-left: 7%;
    margin-right: 7%;
}
p.fich-label{
    font-family: "Inter";
    font-size: 45px;
    color: #FFF8DC;
    width: 87%;
    height: 120px;
    text-align: center;
    margin-bottom: 0;
}
p.fich-content{
    font-family: "Inter";
    font-size: 25px;
    color: #FFF8DC;
    width: 85%;
    height: 90px;
    text-align: center;
}

/* second page styles */
.nothing-is-here-yet{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Neucha";
    font-size: 90px;
}
p.nothing-is-here-yet{
    max-width: 700px;
    text-align: center;
}

/* prototype styles */
.category-name{
    display: block;
    font-family: "Neucha";
    align-items: center;
    font-size: 130px;
    margin: 0;
    margin-left: 5%;
    margin-top: 52px;
    margin-bottom: 51px;
}

/* goods cards */
.goods-card{
    width: 95.8%;
    height: 335px;
    background-color: #A2653E;
    border-radius: 50px;
    margin-left: 2.1%;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
}
.goods-img-container{
    margin-left: 5px;
    border-radius: 45px;
    width: 41.66%;
    height: 325px;
}
.goods-img{
    width: 100%;
    margin: 0;
    height: 325px;
}
.goods-text-container{
    display: block;
    width: 58.34%;
    margin-left: 30px;
    margin-right: 15px;
}
.goods-name{
    font-family: "Inter";
    font-weight: 700;
    font-size: 45px;
    color: #FFF8DC;
    height: 110px;
    margin: 0;
    margin-top: 39px;
}
.goods-description-n-indicator{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 162px;
    width: 100%;
}
.goods-description{
    font-family: "Inter";
    font-size: 25px;
    font-weight: 400;
    color: #FFF8DC;
}
.goods-indicator{
    background-color: #FFF8DC;
    border-radius: 35px;
    height: 80px;
    width: 493px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goods-indicator-text{
    margin: 0;
    font-family: "Inter";
    font-size: 30px;
    width: 227px;
    height: 37px;
    text-align: center;
    color: #A2653E;
}
.availible-good{
    color:#388F02
}